html {
}

body {
  overflow-x: hidden;
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
  cursor: url('/favicon.png') 0 0, default;
}

a, img, button, h1, h2, h3, h4, h5, h6, p, div .clickable {
  cursor: url('/faviconpointer.png') 0 0, pointer !important;
}
