.First-Part{
    background-color: rgba(0, 7, 17, 0.932);
    background-image: url("/notebook-dark.png");
    color: whitesmoke;

    height: 50rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.Slide-Navigation{
    display: flex;
    justify-content: center;
    align-self: center;

    align-content: flex-end;

    gap: 2rem;
    filter: invert(1);
}

.Slide-Navigation img {
    height: 5rem;
    z-index: 3;
}

.Slide-Navigation:hover{
    cursor: pointer;
}

.Slide-Image{
    min-width: 50%;
    max-width: 50%;
    align-self: center;
}

.Slide-Image img{
    width: 70%;

    object-fit: cover;
}

#TPAWTurno{
    padding: 5rem;
}

.First-Part-Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.First-Part-Text h1{
    padding: 2rem;
    text-align: center;
}

.First-Part-Text li{
    display: flex;
    align-items: center;

    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.Releases-Part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    background-color: rgb(0, 20, 48, 0.932);
    background-image: url("/notebook-dark.png");

    padding: 3rem 1rem;

    color: white;
}

.Releases-Part-Covers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0rem;
}

.Covers img{
    width: 20rem;
    border: 2px black solid;
}

.Covers{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;

    
    font-size: 1.25rem;
    font-weight: 500;
}

.Covers:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
    z-index: 5;
}

.Meet-Our-Editors{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem 0rem;
    color: white;
    background-color: rgba(0, 38, 88, 0.932);

}

.Editorial-Board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.Editorial-Board-Individual-Card:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
    z-index: 5;

}

.Editorial-Board-Individual{
    border: 7px rgb(4, 113, 255) solid;
    border-radius: 100%;
}

.Editorial-Board-Individual img{
    border: 5px rgba(4, 113, 255, 0) solid;
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.Editorial-Board-Individual:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
    z-index: 5;
}

.Editorial-Board-Pad-When-Hover:hover{
    margin-bottom: 0.75rem;
}

.All-Staffer-About-Page-Section{
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 3rem;
}

.Regular-Staffers-Whole{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    padding: 5rem;
}

.Staffer-Item {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
}

.Circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Staffer-Names-Individual{
  display: flex;
  flex-direction: column;

  color: black;
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.5s ease;
  
  border-bottom: 1px rgba(128, 128, 128, 0.5) solid;
  padding: 1rem;
  width: 100%;
}

.Staffer-Item:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
    z-index: 5;
    background-color: hsla(0, 0%, 100%, 0.85);
}

.Staffer-Names-Individual p{
    font-size: 0.9rem;
    font-weight: 500;

}
#Last-Part{
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 59, 141, 0.596);

}