*{
    padding: 0;
    margin: 0;
}

.First-Part{
    background-color: rgba(0, 7, 17, 0.932);
    background-image: url("/notebook-dark.png");
    color: whitesmoke;

    height: 50rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.Slide-Navigation{
    display: flex;
    justify-content: center;
    align-self: center;

    align-content: flex-end;

    gap: 2rem;
    filter: invert(1);
}

.Slide-Navigation img {
    height: 5rem;
    z-index: 3;
}

.Slide-Navigation:hover{
    cursor: pointer;
}

.Slide-Image{
    min-width: 50%;
    max-width: 50%;
    align-self: center;
}

.Slide-Image img{
    width: 80%;

    object-fit: cover;
}

#TPAWTurno{
    padding: 5rem;
}

.First-Part-Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.First-Part-Text h1{
    padding: 2rem;
    text-align: center;
}

.First-Part-Text li{
    display: flex;
    align-items: center;

    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.Releases-Part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    background-color: rgb(0, 20, 48, 0.932);
    background-image: url("/notebook-dark.png");

    padding: 3rem 1rem;

    color: white;
}

.Releases-Part-Covers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0rem;
}

.Covers img{
    width: 20rem;
    border: 2px black solid;
}

.Covers{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;

    
    font-size: 1.25rem;
    font-weight: 500;
}

.Covers:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
    z-index: 5;
}

.Meet-Our-Editors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3rem 0rem;
    color: white;
    background-color: rgba(0, 38, 88, 0.932);
    background-image: url("/notebook-dark.png");

}

.Editorial-Board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.Editorial-Board-Individual{
    border: 7px rgb(4, 113, 255) solid;
    border-radius: 100%;
}

.Editorial-Board-Individual img{
    border: 5px rgba(4, 113, 255, 0) solid;
    border-radius: 100%;
    width: 15rem;
    aspect-ratio: 1 / 1;
}

.Maybe-a-parallax-effect{
    color: white;
    background-color: rgba(4, 48, 0, 0.932);
    background-image: url("/notebook-dark.png");

}

#Last-Part{
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 59, 141, 0.596);

}