.Article-Page{
    background-color: whitesmoke;
    background: linear-gradient(to bottom, #ffffff 0%, #0092f32a 30%, #0099ff11 100%);

    margin-top: 5%;
}

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading{
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 100%);
    }
}

.Article-Headline{
    display: flex;
    flex-direction: column;
    flex-direction: wrap;
    align-content: center;
    justify-content: center;

    margin-left: 20%;
    margin-right: 20%;

    padding: 2rem 0rem;
}

.Article-Headline h1{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;
    color: black;

    font-size: 3rem;
    padding-bottom: 1rem;

}


.Simple-Tag{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;
    
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;

    color: #0265A9;

    display: flex;
    justify-content: flex-end;

}

hr{
    border: 1px solid #0265A9;
    width: 100%;
}

.Author-and-Date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Author{
    display: flex;
}

.Author a h3{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;
    color: black;

    font-size: 1em;
    margin-top: 0.5em;

    margin-right: 0.2em;
}

.Date {
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;
    font-size: 1em;
    margin-top: 0.5em;

    margin-right: 0.1em;

    display: flex;
    justify-content: flex-end;
    color: gray;
}

.Foreground-Photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1rem;
}

.Foreground-Photo img{
    height: 35rem;

    border: 3px black solid;
    border-radius: 10px;

    object-fit: cover;
}

.Photo-Illustration-Layout-Credits{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}

.Extra-Photos-Container-Two {
  display: flex;
  justify-content: flex-end;

  max-height: 35rem;

  overflow-y: auto;
  overflow-x: hidden; 

  scrollbar-width: auto;
  scrollbar-color: #91c4ff #b4ddf9;
  scroll-behavior: smooth;

}

.Extra-Photos-Container-Two img{
    height: 10rem;
    width: auto;
    object-fit: cover;
}

.Extra-Photos-Container-Two .Extra-Photos {
    flex-direction: column;
    padding-left: 2rem;
    overflow-y: auto;
}

.Extra-Photos-Container{
    margin: 1rem 1rem;

    overflow-x: hidden;
    border-radius: 8px;

    background-color: #07273d2c;
    
}

.Extra-Photos{
    display: flex;
    align-items: center;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: auto;
    scrollbar-color:  #91c4ff #b4ddf9;
    scroll-behavior: smooth;

    gap: 0.25rem;
}

.Extra-Photos::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;

    width: 90%;
}

.Extra-Photos img {
    height: 6rem;
    margin: 8px;

    border-radius: 5px;
    
    flex-shrink: 0;
    cursor: pointer;
}

.Below-Small-Photos{
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin: 1% 10%;
}

.Article-Body{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 90%;

}

.Article-Body p{
    text-decoration: none;
    color: black;

    font-size: 1.5rem;

    padding: 2rem 0rem;
}

#Read-More{
    display: flex;
    justify-content: center;

    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    
    padding-bottom: 1rem;
    padding-left: 3rem;
}

.Suggested-Articles{
    display: flex;
    justify-content: center;

    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.Suggested-Articles p:hover{
    color: #0265A9;
}

.Suggested-News{
    display: flex;
    flex-direction: row;

    gap: 2rem;
}

.Three-News{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    margin-bottom: 3rem;
}

.Three-News a{
    display: -webkit-box;              
    -webkit-line-clamp: 1;
    line-clamp: 1;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Three-News img{
    height: 20rem;
    margin-bottom: 1rem;

    border-radius: 10px;

    aspect-ratio: 16 / 9;
    object-fit: cover;
}