*{
    margin: 0;
    padding: 0;
}

.Entire-Page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 2rem;
    height: 70vh;
    
    background: linear-gradient(to bottom, #ffffff 0%, #0092f32a 30%, #0099ff3f 100%);
}

.Editor-Rectangle{
    display: flex;
    flex-direction: column;

    margin: 1rem;
}

.Text-Formatting-Section{
    display: flex;
    justify-content: space-around;
    padding: 1rem;

    border: 3px solid black;
    background-color: white;
    border-radius: 30px;
}

.Text-Formatting-Section img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;

    border: 1px solid transparent;

    margin: 5px;

    height: 30px;
    width: auto;

}

.Text-Formatting-Section img:hover{
    cursor: pointer;
    background-color: rgb(195, 222, 247);
    border-radius: 7rem;
}

select{
    border: 2px solid black;
}

select:hover{
    cursor: pointer;
}

#Article-Type{
    border-radius: 5px;
    margin: 5px;
}

.Text-Area{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
}

.Headline-Input{
    background-color: white;
}

#Body-Text{
    min-height: 400px;
    width: 100%;
    font-size: 1rem;

    border: 3px solid rgb(70, 70, 70);
    border-radius: 10px;

    padding: 15px;
    margin: 1rem 0rem;

    box-sizing: border-box;
    resize: none;
}

#Headline-Text{
    max-height: 50px;
    width: 100%;
    font-size: 1rem;

    border: 3px solid rgb(70, 70, 70);
    border-radius: 10px;

    padding: 10px;
    margin: 1rem 0rem;

    box-sizing: border-box;
    resize: none;

    font-weight: bold;

    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;
    text-decoration: none;
}

.Preview-Section{
    display: flex;
    justify-content: center;
}

.Dialog-Box{
    display: flex;
    justify-content: center;
    align-self: center;

    flex-direction: column;

    gap: 1rem;
}

.staff-dialog{
    position: fixed;
    top: 10%;
    left: 35%;

    width: 100%;
    height: 70%;

    max-width: 35rem;
    border: none;
    border-radius: 12px;
    padding: 1.5rem;
    background: #fff;
    color: #111;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.25s ease-out;
}


.staff-dialog::backdrop {
    background: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(3px);
}

dialog{
    padding: 1rem;
}

.Staffer-Box{
    border: 2px solid black;
    border-radius: 10px;

    height: 100%;
}

.Staffer-List{
    padding: 0.75rem;
}

.Staffer-List:hover{
    cursor: pointer;
    background: #79c3ff;
    border-radius: 10px;
}

.staff-item{
    padding-left: 1rem;
}

#staff-name{
    padding-left: 1rem;
}