*{
    margin: 0;
    padding: 0;
}

.DBFF-Headline{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    min-height: 75vh;
    width: 100%;
}

.DBFF-Headline p{
    display: flex;
    justify-content: flex-start;

    font-size: 3rem;
    font-weight: 900;
    color: #ffffff;
    padding: 2rem 0rem;

    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-out forwards;
}

.DBFF-Text p{
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    
    color: #ffffff;

    flex-wrap: wrap;

    
    transform: translateY(20px);
    animation: fadeUp 2s ease-out forwards;
}

.DBFF-Text a{
    color: #0099ff;
    cursor: pointer;
    text-decoration: none;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Literary-Showcase-First-Facade{
    margin: 0 auto;
}

.First-BG-First-Facade{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    z-index: 1;
}

.Second-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

    background-color: #2a4e66;

    width: 100%;
    padding-top: 7vh;
    padding-bottom: 7vh;

    background-image: 
        url('/Tek2.png'),
        url('/Tek3.png'),
        url('/axiom-pattern.png');
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 500px, 300px, auto;
    
    background-blend-mode: hard-light;
    background-position-x: 108%, -7%, 0%;
    background-position-y: 125%, 100%, 0%;    
}

.Cards{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    
}

.Card-Images{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translateX(20px);
    animation: fadeLeft 3s ease-out forwards;

    padding: 3rem;

}

.Card-Images img{    
    height: 30rem;
    filter: drop-shadow(15px 10px 10px rgb(49, 49, 49));
    transform: rotate(3deg);
    
}

.Card-Images img:hover{
    transition: 0.2s;
    transform: scale(1.05);
    cursor: pointer;
    
    transform: rotate(10deg);
    z-index: 10;
}

@keyframes fadeLeft{
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Slide-Navigation{
    display: flex;
    align-items: center;

    filter: invert(1);
}

.Slide-Navigation img {
    height: 5rem;
    z-index: 3;
}

.SlideWrapper {
    will-change: transform, opacity;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.SlideWrapper.enter.next {
  animation: tumbleInRight 0.6s ease forwards;
}

.SlideWrapper.enter.prev {
  animation: tumbleInLeft 0.6s ease forwards;
}

@keyframes tumbleOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes tumbleOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes tumbleInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes tumbleInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*

    MEDIA QUERIES

*/
