
*{
    margin: 0;
    padding: 0;
}

.DBFF-Top-Paragraph h2{
    font-weight: 500;
    font-size: 2.3vh;

    padding: 3vh;

    font-family:  'Inter', sans-serif;
    color: #D3CFCF;

    align-items: left;
    flex-wrap: wrap;

    text-shadow: 1px 2px 4px black;
}


.DBFF-Headline h1{
    padding: 2vh;
    padding-top: 15vh;
    padding-left: 1.4vw;

    font-family:  'Inter', sans-serif; 
    font-weight: bolder;
    color: white;

    text-shadow: 3px 3px 6px black;

}


.First-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

    /* AUTO GROWS */
    background-color: #23343F;

    /*    border-radius: 10px; */

    padding-top: 3.4vh;
    padding-bottom: 3.4vh;

    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    */

}

.Second-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

    /* AUTO GROWS */
    background-color: #2a4e66;

    /*    border-radius: 10px;

    padding-top: 3.4vh;
    padding-bottom: 3.4vh;
    padding-right: 5vw;

    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    */

}

.Cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* #Kahong-Kalyo{
    height: 47rem;

} */

.Card-Images img{
    height: 75.2vh;

    padding-top: 9.5vh; 
    padding-right: 6vw;

    filter: drop-shadow(2vh 3vw 3vh rgb(49, 49, 49));
}

.Card-Images img:hover{
    
    transition: 0.2s;
    transform: scale(1.08);
    cursor: pointer;
}

#iframes{
    padding-top: 20vh;
    padding-left: 4vw;
    padding-bottom: 11vh;

    filter: drop-shadow(5px 5px 10px rgb(49, 49, 49));
}

#iframes:hover{
    transition: 0.2s;
    transform: scale(1.08);
    cursor: pointer;
}



.Third-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

    /* AUTO GROWS */
    background-color: #183142;

    /*    border-radius: 10px; */

    padding-top: 3vh;
    padding-bottom: 3vh;


}

.DBFF-Third-Headline{
    padding-top: 3.5vh;
    padding-left: 60vw;
    padding-bottom: 3.5vh;
    
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    font-weight: bolder;
    color: white;

    text-shadow: 3px 3px 6px black;
}

#Portfolio-Showcase{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;

}

.Image-Showcase:hover{
    transition: 0.2s;
    transform: scale(1.03);
    cursor: pointer;

}

.Image-Showcase img{
    width: 25vw;
    filter: drop-shadow(5px 5px 10px rgb(29, 29, 29));
    padding: 2vw;
}

.Image-Showcase h2{
    padding: 1vw;

    display: flex;
    justify-content: center;
    
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    font-weight: bolder;
    color: white;

    text-shadow: 3px 3px 6px black;
}
/*
.DBFF-Left-Side{
    width: 40%;
}

.DBFF-Right-Side{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 3em;
    margin-top: 2em;

    padding-left: 3em;
    transition: transform 0.4s ease, opacity 0.4 ease;
    overflow: hidden;

}

.Navigate-Carousel{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.Navigate-Carousel button{

    height: 20px;
    width: 100px;

    padding: 10px;
    border-radius: 30px;

}


.DBFF-Headline h1{
    padding: 20px;
    padding-top: 175px;
    padding-left: 35px;

    font-family:  'Inter', sans-serif; 
    font-weight: bolder;
    color: white;

    text-shadow: 3px 3px 6px black;

}

.DBFF-Top-Paragraph h2{
    font-weight: 400;
    padding: 25px;
    
    font-family:  'Inter', sans-serif;
    color: #D3CFCF;

    align-items: left;
    flex-wrap: wrap;

    text-shadow: 2px 2px 4px black;
}

.DBFF-Top-Paragraph span{
    padding-bottom: 30px;

}

.DBFF-Bottom-Paragraph h4{
    font-size: 1.5em;
    font-weight: 400;
    padding: 25px;

    padding-bottom: 10em;
    
    font-family:  'Inter', sans-serif;
    color: #D3CFCF;

    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
}

.DBFF-Bottom-Paragraph span{
    padding-top: 30px;

}

.Small-Prev-Image-Showcase{

    font-size: 1em;
    width: 50em;
    margin-left: 50px;
    margin-top: 75px;
    margin: 20px;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 1em;

    align-items: center;
    display: flex;
    flex-direction: row;

    transition: transform 0.4s ease, opacity 0.4s ease;
    overflow: hidden;
    min-height: 250px;

}


.Small-Prev-Image-Showcase img{
    height: 200px;
}

.Small-Prev-Image-Showcase h4{
    color: #D3CFCF;
    padding-left: 20px;    
    font-family:  'Inter', sans-serif; 

}

.Small-Prev-Image-Showcase span{
    padding-bottom: 30px;
}

.First-Facade-Image-Showcase{
    width: 90%;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.First-Facade-Image-Showcase img{
    height: 90em;
    padding: 30px;

}







.First-Facade-Image-Showcase.transitioning {
  animation: slideOut 0.3s ease-in-out;
}

.Small-Prev-Image-Showcase.transitioning {
  animation: slideIn 0.3s ease-in-out;
}

.slide-out{
    animation: slideOut 0.4s ease forwards;
}

@keyframes slideOut{
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-50%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideIn 0.4s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

*/