.DBFF-Headline {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

  height: 80dvh;
  width: 55dvw;
}

.DBFF-Headline p {
  display: flex;
  
  font-size: 5rem;
  font-weight: 900;
  color: #ffffff;
  padding: 2rem 0rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

  opacity: 0;
  transform: translateY(50px);
  animation: fadeUp 1s ease-out forwards;
}

.DBFF-Text p {
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 3rem;

  flex-wrap: wrap;

  color: rgb(236, 236, 236);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

  transform: translateY(20px);
  animation: fadeUp 2s ease-out forwards;

}

.DBFF-Text a {
  color: #0099ff;
  cursor: pointer;
  text-decoration: none;
}

.First-BG-First-Facade {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  height: 90vh;
}

.Cards {
  display: flex;
  justify-content: space-around;
}

.Card-Images {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transform: translateX(20px);

  animation: fadeLeft 3s ease-out forwards;
  width: 30dvw;

  padding: 1rem;
}

.Card-Images img {
  max-height: 30rem;
  max-width: 30dvw;
  transform: rotate(-1deg);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #000000);
  transition: transform 0.2s ease;
}

.Card-Images img:hover {
  cursor: pointer;

  transform: rotate(5deg) scale(1.05);
  z-index: 10;
}

@keyframes fadeLeft {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.Slide-Navigation {
  display: flex;
  align-items: center;

  filter: invert(1);
}

.Slide-Navigation img {
  height: 5rem;
  z-index: 3;
}

.Slide-Navigation img:hover{
  cursor: pointer;
}

.SlideWrapper {
  display: flex;
  justify-content: space-between;
  will-change: transform, opacity;
}

.SlideWrapper.next {
  animation: tumbleInLeft 1s ease forwards;
}

.SlideWrapper.prev {
  animation: tumbleInRight 1s ease forwards;
}

.SlideWrapper.exit.next {
  animation: tumbleOutLeft 1s ease forwards;
}

.SlideWrapper.exit.prev {
  animation: tumbleOutRight 1s ease forwards;
}


@keyframes tumbleInLeft {
  from { transform: translateX(100%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes tumbleInRight {
  from { transform: translateX(-100%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes tumbleOutLeft {
  from { transform: translateX(0); opacity: 1; }
  to   { transform: translateX(-100%); opacity: 0; }
}

@keyframes tumbleOutRight {
  from { transform: translateX(0); opacity: 1; }
  to   { transform: translateX(100%); opacity: 0; }
}


/*

    MEDIA QUERIES

*/