
*{
    margin: 0;
    padding: 0;
}

.DBFF-Headline h1{
    
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;


    font-family:  'Inter', sans-serif; 
    font-weight: bolder;
    color: white;

    text-shadow: 3px 3px 6px black;

}

.DBFF-Headline h1 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 2s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.DBFF-Top-Paragraph h2{
    font-weight: 500;

    padding: 2rem;
    

    font-family:  'Inter', sans-serif;
    color: #D3CFCF;

    align-items: left;
    flex-wrap: wrap;

    text-shadow: 1px 2px 4px black;

}

.DBFF-Top-Paragraph a{
    color: #0099ff;
    cursor: pointer;
    text-decoration: none;
}

.Literary-Showcase-First-Facade{
    margin: 0 auto;
}


.First-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

    background-color: #23343F;
    width: 100%;

    padding-top: 7vh;
    padding-bottom: 7vh;
    
    background-image: 
        url('/Tek1.png'),
        url('/Tek-Megaphone.svg'),
        url('/always-grey.png');
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 150px, 150px, auto;
    
    background-blend-mode: hard-light;
    background-position-x: 100%, 0;
    background-position-y: 103%, 55%;    

}

.Second-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

    background-color: #2a4e66;

    width: 100%;
    padding-top: 7vh;
    padding-bottom: 7vh;

    background-image: 
        url('/Tek2.png'),
        url('/Tek3.png'),
        url('/axiom-pattern.png');
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 500px, 300px, auto;
    
    background-blend-mode: hard-light;
    background-position-x: 108%, -7%, 0%;
    background-position-y: 125%, 100%, 0%;    
}

.Cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    position: relative;
    
}

.Card-Images{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translateX(20px);
    animation: fadeLeft 3s ease-out forwards;

}

.Card-Images img{    
    height: 10rem;
    filter: drop-shadow(15px 10px 10px rgb(49, 49, 49));
}

.Card-Images img:hover{
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer;

    z-index: 10;
}

@keyframes fadeLeft{
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#TekMegaphone{    
    height: 500px;
}

iframe{
    width: 45rem;
    height: auto;
    aspect-ratio: 16 / 9;   
}

#iframes{
    padding-top: 15rem;
}

/*

    MEDIA QUERIES

*/

@media (max-width: 2560px){

        .First-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #23343F;
        width: 100%;

        padding-top: 7vh;
        padding-bottom: 7vh;
        
        background-image: 
            url('/Tek1.png'),
            url('/Tek-Megaphone.svg'),
            url('/always-grey.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 40rem, 45rem, 10rem;
        
        background-blend-mode:soft-light;
        background-position-x: 105%, 0;
        background-position-y: 115%, 95%, 0%;    
    }

    .Second-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #2a4e66;

        width: 100%;
        padding-top: 7vh;
        padding-bottom: 7vh;

        background-image: 
            url('/Tek2.png'),
            url('/Tek3.png'),
            url('/axiom-pattern.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 45rem, 50rem, 9.5rem;
        background-color: auto, auto, whitesmoke;
        
        background-blend-mode: soft-light;
        background-position-x: 105%, -10%, 0%;
        background-position-y: 116.5%, 130%, 0%;    
    }

    .Cards{
        display: flex;
        flex-wrap: nowrap;
        
    }

    .DBFF-Top-Paragraph h2{
        font-size: 3rem;
    }

    .DBFF-Headline h1{
        font-size: 2rem;
    }
    
    .Card-Images{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Card-Images img{
        height: 50rem;
        padding: 0;
    }

    .Iframe-Wrapper{
        display: flex;
        align-items: center;
    }
    
    iframe{

    width: 80rem;
    height: auto;
    aspect-ratio: 16 / 9;
            
    }

    #iframes{
        padding-top: 0.1rem;
        padding-bottom: 5rem;
    }

    
}


@media (max-width: 1920px){

        .First-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #23343F;
        width: 100%;

        padding-top: 7vh;
        padding-bottom: 7vh;
        
        background-image: 
            url('/Tek1.png'),
            url('/Tek-Megaphone.svg'),
            url('/always-grey.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 25rem, 30rem, 5rem;
        
        background-blend-mode:soft-light;
        background-position-x: 105%, 0;
        background-position-y: 115%, 95%, 0%;    
    }

    .Second-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #2a4e66;

        width: 100%;
        padding-top: 7vh;
        padding-bottom: 7vh;

        background-image: 
            url('/Tek2.png'),
            url('/Tek3.png'),
            url('/axiom-pattern.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 35rem, 30rem, 9.5rem;
        background-color: auto, auto, whitesmoke;
        
        background-blend-mode: soft-light;
        background-position-x: 105%, -7%, 0%;
        background-position-y: 120%, 120%, 0%;    
    }

    .Cards{
        display: flex;
        flex-wrap: nowrap;
        
    }

    .DBFF-Top-Paragraph h2{
        font-size: 2rem;
        
    }

    .DBFF-Headline h1{
        font-size: 2.5rem;
    }
    
    .Card-Images{        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Card-Images img{
        height: 44rem;
        padding: 0;
    }

    .Iframe-Wrapper{
        display: flex;
        align-items: center;
    }
    
    iframe{

    width: 66rem;
    height: auto;
    aspect-ratio: 16 / 9;
        

    }

    #iframes{
        padding-top: 0.1rem;
        padding-bottom: 5rem;
    }
}

@media (max-width: 1440px) {

        .First-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #23343F;
        width: 100%;

        padding-top: 7vh;
        padding-bottom: 7vh;
        
        background-image: 
            url('/Tek1.png'),
            url('/Tek-Megaphone.svg'),
            url('/always-grey.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 23rem, 20rem, 5rem;
        
        background-blend-mode:soft-light;
        background-position-x: 105%, 0, 0;
        background-position-y: 110%, 100%, 0%;    
    }

    .Second-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #2a4e66;

        width: 100%;
        padding-top: 7vh;
        padding-bottom: 7vh;

        background-image: 
            url('/Tek2.png'),
            url('/Tek3.png'),
            url('/axiom-pattern.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 30rem, 25rem, 9.5rem;
        background-color: auto, auto, whitesmoke;
        
        background-blend-mode: soft-light;
        background-position-x: 107%, -7%, 0%;
        background-position-y: 120%, 110%, 0%;    
    }

    .Cards{
        display: flex;
        flex-wrap: nowrap;
        
    }

    .DBFF-Top-Paragraph h2{
        font-size: 1.75rem;
        
    }

    .DBFF-Headline h1{
        font-size: 2.25rem;
    }
    
    .Card-Images{        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Card-Images img{
        height: 27rem;
        padding: 0;
    }

    .Iframe-Wrapper{
        display: flex;
        align-items: center;
    }
    
    iframe{

    width: 50rem;
    height: auto;
    aspect-ratio: 16 / 9;
        
    }

    #iframes{
        padding-top: 0.1rem;
        padding-bottom: 5rem;
    }
    
}

@media (max-width: 1024px){

        .First-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #23343F;
        width: 100%;

        padding-top: 7vh;
        padding-bottom: 7vh;
        
        background-image: 
            url('/Tek1.png'),
            url('/Tek-Megaphone.svg'),
            url('/always-grey.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 25rem, 30rem, 5rem;
        
        background-blend-mode:soft-light;
        background-position-x: 110%, 0, 0;
        background-position-y: 110%, 100%, 0%;    
    }

    .Second-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #2a4e66;

        width: 100%;
        padding-top: 7vh;
        padding-bottom: 7vh;

        background-image: 
            url('/Tek2.png'),
            url('/Tek3.png'),
            url('/axiom-pattern.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 25rem, 25rem, 12rem;
        background-color: auto, auto, whitesmoke;
        
        background-blend-mode: soft-light;
        background-position-x: 112%, -13%, 0%;
        background-position-y: 108%, 104%, 0%;    
    }
    
    .Cards{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap-reverse;
    }

    .DBFF-Top-Paragraph h2{
        text-align: center;
    }

    .DBFF-Headline h1{
        text-align: center;
        font-size: 2rem;
    }

    .Card-Images{        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Card-Images img{
        height: 300px;
        
    }


    .Iframe-Wrapper{
        display: flex;
        align-items: center;
    }
    
    iframe{

    width: 50rem;
    height: auto;
    aspect-ratio: 16 / 9;
        
    }

    #iframes{
        padding-top: 0.1rem;
        padding-bottom: 5rem;
    }
    
}

@media (max-width: 768px){
    .First-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #23343F;
        width: 100%;

        padding-top: 7vh;
        padding-bottom: 7vh;
        
        background-image: 
            url('/Tek1.png'),
            url('/Tek-Megaphone.svg'),
            url('/always-grey.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 20rem, 20rem, 5rem;
        
        background-blend-mode:soft-light;
        background-position-x: 110%, 0, 0;
        background-position-y: 105%, 100%, 0%;    
    }

    .Second-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #2a4e66;

        width: 100%;
        padding-top: 7vh;
        padding-bottom: 7vh;

        background-image: 
            url('/Tek2.png'),
            url('/Tek3.png'),
            url('/axiom-pattern.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 30rem, 30rem, 12rem;
        background-color: auto, auto, whitesmoke;
        
        background-blend-mode: soft-light;
        background-position-x: 120%, -30%, 0%;
        background-position-y: 113%, 104%, 0%;    
    }

    .Cards{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap-reverse;
    }

    .DBFF-Top-Paragraph h2{
        text-align: center;
    }

    .DBFF-Headline h1{
        text-align: center;
        font-size: 175%;
    }

    .Card-Images{        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Card-Images img{
        height: 300px;
        
    }


    .Iframe-Wrapper{
        display: flex;
        align-items: center;
    }
    
    iframe{

    width: 20rem;
    height: auto;
    aspect-ratio: 16 / 9;
        
    }

    #iframes{
        padding-top: 0.1rem;
        padding-bottom: 5rem;
    }
    
}

@media (max-width: 730px) {
    .First-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #23343F;
        width: 100%;

        padding-top: 7vh;
        padding-bottom: 7vh;
        
        background-image: 
            url('/Tek1.png'),
            url('/Tek-Megaphone.svg'),
            url('/always-grey.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 15rem, 15rem, 5rem;
        
        background-blend-mode:soft-light;
        background-position-x: 115%, 0, 0;
        background-position-y: 105%, 100%, 0%;    
    }

    .Second-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #2a4e66;

        width: 100%;
        padding-top: 7vh;
        padding-bottom: 7vh;

        background-image: 
            url('/Tek2.png'),
            url('/Tek3.png'),
            url('/axiom-pattern.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 20rem, 20rem, 12rem;
        background-color: auto, auto, whitesmoke;
        
        background-blend-mode: soft-light;
        background-position-x: 110%, -17%, 0%;
        background-position-y: 107%, 105%, 0%;    
    }
    
}

@media (max-width: 425px) {
    .First-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #23343F;
        width: 100%;

        padding-top: 7vh;
        padding-bottom: 7vh;
        
        background-image: 
            url('/Tek1.png'),
            url('/Tek-Megaphone.svg'),
            url('/always-grey.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 15rem, 15rem, 5rem;
        
        background-blend-mode:soft-light;
        background-position-x: 115%, 0, 0;
        background-position-y: 105%, 100%, 0%;    
    }

    .Second-BG-First-Facade{ /* Originally named Dark-BG-First-Facade */

        background-color: #2a4e66;

        width: 100%;
        padding-top: 7vh;
        padding-bottom: 7vh;

        background-image: 
            url('/Tek2.png'),
            url('/Tek3.png'),
            url('/axiom-pattern.png');
        background-repeat: no-repeat, no-repeat, repeat;
        background-size: 15rem, 20rem, 12rem;
        background-color: auto, auto, whitesmoke;
        
        background-blend-mode: soft-light;
        background-position-x: 120%, -60%, 0%;
        background-position-y: 104%, 40%, 0%;    
    }
    
}

@media (max-width: 320px){
    .Card-Images img{        
        height: 200px;
    }
}

/*
.DBFF-Left-Side{
    width: 40%;
}

.DBFF-Right-Side{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 3em;
    margin-top: 2em;

    padding-left: 3em;
    transition: transform 0.4s ease, opacity 0.4 ease;
    overflow: hidden;

}

.Navigate-Carousel{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.Navigate-Carousel button{

    height: 20px;
    width: 100px;

    padding: 10px;
    border-radius: 30px;

}


.DBFF-Headline h1{
    padding: 20px;
    padding-top: 175px;
    padding-left: 35px;

    font-family:  'Inter', sans-serif; 
    font-weight: bolder;
    color: white;

    text-shadow: 3px 3px 6px black;

}

.DBFF-Top-Paragraph h2{
    font-weight: 400;
    padding: 25px;
    
    font-family:  'Inter', sans-serif;
    color: #D3CFCF;

    align-items: left;
    flex-wrap: wrap;

    text-shadow: 2px 2px 4px black;
}

.DBFF-Top-Paragraph span{
    padding-bottom: 30px;

}

.DBFF-Bottom-Paragraph h4{
    font-size: 1.5em;
    font-weight: 400;
    padding: 25px;

    padding-bottom: 10em;
    
    font-family:  'Inter', sans-serif;
    color: #D3CFCF;

    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
}

.DBFF-Bottom-Paragraph span{
    padding-top: 30px;

}

.Small-Prev-Image-Showcase{

    font-size: 1em;
    width: 50em;
    margin-left: 50px;
    margin-top: 75px;
    margin: 20px;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 1em;

    align-items: center;
    display: flex;
    flex-direction: row;

    transition: transform 0.4s ease, opacity 0.4s ease;
    overflow: hidden;
    min-height: 250px;

}


.Small-Prev-Image-Showcase img{
    height: 200px;
}

.Small-Prev-Image-Showcase h4{
    color: #D3CFCF;
    padding-left: 20px;    
    font-family:  'Inter', sans-serif; 

}

.Small-Prev-Image-Showcase span{
    padding-bottom: 30px;
}

.First-Facade-Image-Showcase{
    width: 90%;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.First-Facade-Image-Showcase img{
    height: 90em;
    padding: 30px;

}







.First-Facade-Image-Showcase.transitioning {
  animation: slideOut 0.3s ease-in-out;
}

.Small-Prev-Image-Showcase.transitioning {
  animation: slideIn 0.3s ease-in-out;
}

.slide-out{
    animation: slideOut 0.4s ease forwards;
}

@keyframes slideOut{
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-50%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideIn 0.4s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

*/