.Footer{
    background-color: #0265A9;
    
    color: white;
    font-weight: 600;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.Top-Footer{
    display: flex;
    justify-content: space-around;

}

.Bottom-Footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.Bottom-Footer-Text{
    display: flex;
    gap: 20px;
    
}

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading{
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 90%);
    }
}

.Left-Footer{
    display: flex;
    align-items: center;
}

#TPA-Full-Logo{
    height: 150px;
}

.Right-Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 300px;

    flex-direction: column;
}

.Right-Footer p{
    padding-bottom: 10px;
}

.Right-Footer-Links{
    padding-right: 10px;
}

.Right-Footer-Links img{
    padding: 5px;
    
    height: 45px;
    cursor: pointer;
}

.Right-Footer-Links img:hover{
    transition: 0.2s;
    transform: scale(1.2);
}

