.Footer{
    height: 10rem;
    background-color: #0265A9;
    
    color: white;
    font-weight: 900;

    display: flex;
    justify-content: space-around;
}

.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading{
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 90%);
    }
}

.Left-Footer{
    display: flex;
    align-items: center;
}

.Left-Footer img{
    height: 7rem;
    padding: 1rem;
}

.Left-Footer img:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.2);
}

.Right-Footer{
    padding: 10px;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
}

.Right-Footer p{
    padding-bottom: 20px;
    padding-left: 40px;
}

.Right-Footer-Links{
    padding-right: 10px;
}

.Right-Footer-Links img{
    padding: 5px;
    
    height: 45px;
    cursor: pointer;
}

.Right-Footer-Links img:hover{
    transition: 0.2s;
    transform: scale(1.2);
}

