.Latest-Posts-Page{
    display: flex;
    flex-direction: column;
}

.Latest-Articles-Container{
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    text-align: center;
}

.Latest-Article-Two-Part{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Latest-Articles-Date{
    padding: 2rem;
    padding-bottom: 0rem;
    display: flex;
}

.Latest-Articles-Date h1{
    color: black;
    text-decoration: none;

    font-size: 1.5rem;
}

.Horizontal-Line-Date{
    margin: 1rem;
    height: 1px;
    width: 80%;
}

.Vertical-Line-Date{
    margin-left: 3rem;
    height: 25rem;
    width: 1px;

}

.Day-Articles{
    display: flex;

    margin: 1% 0%;
}

.Three-Article-Column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding: 0rem 3rem;
}

.Individual-Article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0.5rem;

    background-color: #84cdfd25;
    padding: 3rem;

    border-radius: 20px;

    width: 24rem;
}

.Individual-Article:hover{
    transition: 0.1s ease-in-out;
    transform: scale(1.01);
    background-color: #84cdfd50;
}

.Individual-Article img{
    width: 24rem;

    aspect-ratio: 16 / 9;

    object-fit: cover;
    object-position: center;

    border: 2px solid black;
    border-radius: 20px;
    
    transition: object-position 0.3s, transform 0.3s ;
    cursor: pointer;
}

.Individual-Article img:hover{
    object-position: 90% 90%;    
}

.Individual-Article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;

    padding: 1rem;
}

.Large-News-Headline p{
    font-weight: bolder;
    text-decoration: none;

    font-size: 1rem;

    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Article-Author-Time p{
    color: rgb(51, 51, 51);
    font-size: 0.75rem;
    font-weight: bold;
}

.Latest-Post-Filters{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
}

.Latest-Post-Filter-Container{
    border-radius: 1rem;
    border: 1px solid gray;
}