.Latest-Media-Segment-Image::before{
    content: "";
    position: absolute;
    background-image: var(--bgImage);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    inset: 0;
    filter: blur(5px);
    z-index: -1;
}

.Latest-Media-Segment-Image{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    z-index: 1;
    margin-top: 7%;

    padding: 6rem;
    box-shadow: inset 0 0 0 7px black;
}

.Latest-Media-Segment-Image img{
    max-height: 25%;
    max-width: 35%;
    object-fit: cover;

    filter: opacity(0.96);
    border: 3px solid black;
    border-radius: 20px;

    transition: transform 0.1s ease-in-out;
}

.Latest-Media-Segment-Image img:hover{
    transform: scale(1.05);
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 7px 10px rgba(0, 0, 0, 0.267);   
}

.Latest-MS-Title{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    text-decoration: none;
}

.Latest-MS-Title h1{
    font-size: 150%;
}

.Latest-MS-Title h1 h3{
    font-weight: 500;
    color: white;
    
  text-shadow: 8px 8px 16px rgb(0, 0, 0);
}

.Latest-MS-Title h1 h3:hover{
    cursor: pointer;
    color: #74c8ff;
}

.Latest-Media-Segment-Image a{
    font-size: 3rem;
    color: white;
}

.Latest-Media-Segment-Image h3{
    padding: 2rem 0rem;
    font-size: 45%;
}

.Media-SegmentSample-Text p{
    font-size: 30%;
    color:#414141;
    
    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Media-Segment-Title-Author{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: #414141;
}

.Sample-Text-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    filter: drop-shadow(2px 5px 7px rgba(20, 20, 20, 0.2));

    gap: 0.75rem;
    background: rgba(255, 255, 255, 0.66);
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(1.25rem);

    border-radius: 1.25rem;
    padding: 1rem;
}

.Sample-Text-Container:hover{
    background-color: rgba(255, 255, 255);

    transition: transform 0.2s ease-in-out;
    transform: scale(1.01);

    cursor: pointer;
}

.Sample-Text p{
    text-decoration: none;
    color:#414141;
    
    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Vertical-Divider{
    background-color: #0265A9;
    height: 2rem;
    width: 0.25rem;
    margin: 0rem 0.25rem;
    border: none;
}