*{
    margin: 0;
    padding: 0;
}

.List-of-Media-Segments{
    text-decoration: none;
    padding: 4rem 0rem 3rem;
    background-color: rgb(2, 4, 25);
}

#Latest-Weekly-Segments{
    display: flex;
    justify-content: center;
    border-radius: 3rem;
    font-size: 3.5rem;
    padding: 1rem;
    color: white;
}
.Media-Segment-Card h1{
    display: flex;
    justify-content: center;
    align-items: center;

}

.List-Of-MS-Card{
    
    text-align: center;

    border-radius: 10px;
    padding: 1rem;

    text-decoration: none;

    color: white;
}

.List-Of-MS-Card img{
    padding: 1rem;
}

.List-Of-MS-Card p{
    font-weight: 600;
}

.List-Of-MS-Card:hover{
    background-color: rgb(44, 44, 45);
    transition: 0.25s;
    transform: scale(1.05);
    z-index: 3;
}

.Media-Segment-Card{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 2rem;
    scrollbar-gutter: stable;
    
    display: flex;
    flex-wrap: nowrap;

    overflow-x: scroll;
    
    gap: 1rem;
    padding: 2rem;
    
    scrollbar-gutter: stable;
    scrollbar-width: thick;
    scrollbar-color:  rgb(255, 255, 255) rgb(44, 44, 45);
    scroll-behavior: smooth;
}

.Media-Segment-Card::-webkit-scrollbar{
    height: 10px;
}

.Media-Segment-Card::-webkit-scrollbar-track {
    background: #ffffff;

    width: 100%;
}

.Media-Segment-Card img{
    object-fit: cover;
    object-position: center;
    max-height: 20rem;

    border-radius: 10px;
}

.Media-Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    padding: 1rem;
    border-radius: 10px;

    text-decoration: none;
}


.Media-Card p{
    font-size: 1.25rem;
    font-weight: 900;
    color: black;

    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

#MMSegment{
    font-weight: bolder;
}