*{
    margin: 0;
    padding: 0;
}

.List-of-Media-Segments{
    
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;

    margin: 1.5rem;
}

#Latest-Weekly-Segments{
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.List-Of-MS-Card{
    background-color: rgba(245, 245, 245, 0.5);
    
    text-align: center;

    border-radius: 10px;
    padding: 1rem;

    text-decoration: none;

    color: black;
}

.List-Of-MS-Card img{
    padding: 1rem;
}

.List-Of-MS-Card p{
    font-weight: 600;
}

.List-Of-MS-Card:hover{
    background-color: rgba(245, 245, 245, 0.75);
    transition: 0.25s;
    transform: scale(1.05);
    z-index: 3;
}

.Media-Segment-Card-Wrapper{
    background-color: rgba(0, 132, 255, 0.068);
    filter: drop-shadow(2px 5px 7px rgba(20, 20, 20, 0.2));
}

.Media-Segment-Card{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 2rem;
    scrollbar-gutter: stable;
    
    display: flex;
    flex-wrap: nowrap;

    overflow-x: scroll;
    
    gap: 1rem;
    padding: 2rem;
    
    scrollbar-gutter: stable;
    scrollbar-width: thick;
    scrollbar-color:  #c1cdda #acbec9;
    scroll-behavior: smooth;
}

.Media-Segment-Card::-webkit-scrollbar{
    height: 10px;
}

.Media-Segment-Card::-webkit-scrollbar-track {
    background: #ffffff;

    width: 100%;
}

.Media-Segment-Card img{
    object-fit: cover;
    object-position: center;
    max-height: 20rem;

    border-radius: 10px;
}

.Media-Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    max-height: 20rem;
    min-height: 20rem;
    max-width: 20rem;
    min-width: 20rem;
    padding: 1rem;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}


.Media-Card p{
    font-size: 1.25rem;
    font-weight: 900;
    color: black;

    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Media-Card img{
    margin: 1rem;
    height: 10rem;
}

.Media-Card:hover{
    transform: scale(1.01);
    z-index: 5;

    filter: drop-shadow(2px 5px 7px rgba(20, 20, 20, 0.2));
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.267);   
    background: rgba(255, 255, 255);

    transition: 0.25s;
}

#MMSegment{
    font-weight: bolder;
}