*{
    margin: 0;
    padding: 0;
}

.Below-Media-Segments{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

#Latest-Weekly-Segments{
    display: flex;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.Media-Segment-Grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}
