.Media-Segment-Article-Page{
    background-color: whitesmoke;
    background: linear-gradient(to bottom, #ffffff 0%, #0092f310 30%, #0099ff1a 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 6%;
    background-image: url("/notebook-dark.png");
}

.Media-Segment-Article-Page h1{
    padding: 3% 0rem;
}

.Latest-Media-Segment-Image{
    border: 3px black solid;
}

.Media-Segment-Article{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 1% 1%;
}

.Foreground-Photo-Image{
    display: flex;
    justify-content: center;
    align-items: center;

}

.Foreground-Photo-Image img{
    height: 35rem;

    border: 3px black solid;
    border-radius: 10px;

    object-fit: cover;
}

.Media-Segment-Article-Text{
    background-color:rgba(215, 234, 250, 0.055);
    border-bottom-right-radius: 30px;
    
    padding: 3% 3%;
    font-size: 1.25rem;
    line-height: 1.5;
}

.Media-Segment-Article-Below-Photo{
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 3px rgb(0, 77, 179) solid;
    
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.412);
}

.Author-and-Details{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 700;
    font-size: 1.25rem;

    width: 175dvw;
    padding: 5% 2%;
}

.Author-and-Details span{
    color: rgb(0, 77, 179);
}

