.Media-Segment-Article-Page{
    background-color: whitesmoke;
    background: linear-gradient(to bottom, #ffffff 0%, #0092f310 30%, #0099ff1a 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 0rem 0.75rem
}

.Media-Segment-Article-Page h1{
    padding: 1rem 0rem;
}

.Latest-Media-Segment-Image{
    border: 3px black solid;
}

.Media-Segment-Article{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 1% 5%;
}

.Foreground-Photo-Image{
    display: flex;
    justify-content: center;
    align-items: center;

}

.Foreground-Photo-Image img{
    height: 35rem;

    border: 3px black solid;
    border-radius: 10px;

    object-fit: cover;
}

.Media-Segment-Article h1{
    text-align: center;
}

.Media-Segment-Article-Text{
    background-color:rgba(215, 234, 250, 0.055);
    border-bottom-right-radius: 30px;
    
    padding: 3%;
    font-size: 1.5rem;

}

.Media-Segment-Article-Below-Photo{
    display: grid;
    grid-template-columns: 4fr 10fr;
    border-radius: 30px;
    border-top: 3px rgb(0, 77, 179) solid;
    border-bottom: 3px rgb(0, 77, 179) solid;
    
}

.Author-and-Details{
    border-right: 3px rgb(0, 77, 179) solid;
    color: black;
    font-weight: 500;

    padding: 5%;
}

.Author-and-Details span{
    color: rgb(0, 77, 179);
}

.Author-and-Details span:hover{
    cursor: pointer;
}
