*{
    margin: 0;
    padding: 0;
}

.Latest-Media-Segment-Image{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #3a6079;
    background: linear-gradient(to bottom, #01315298 10%, #0099ff98 70%, #012d4b7e 100%);

    padding: 3rem;
    gap: 5rem;
}

.Latest-Media-Segment-Image img{
    max-height: 45rem;
    max-width: 60rem;
    object-fit: cover;

    filter: opacity(0.96);
    border: 3px solid black;
    border-radius: 20px;

    transition: transform 0.3s ease-in-out;
}

.Latest-Media-Segment-Image img:hover{
    transform: scale(1.05);
    transition: 0.75s;
    cursor: pointer;
    box-shadow: 7px 10px rgba(0, 0, 0, 0.267);   
}

.Latest-MS-Title{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;
    
}

.Latest-MS-Title h3{
    font-weight: 500;
}

.Latest-MS-Title:hover a{
    cursor: pointer;
    color: #014a7a;
}

.Latest-Media-Segment-Image a{
    font-size: 3rem;
    color: white;
}

.Latest-Media-Segment-Image h3{
    padding: 0.5rem;
}

.Tabs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #003f69;
    padding: 1rem 0px;
    margin: 0;
}

.Tabs a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: white;
    text-decoration: none;

    display: flex;
    justify-content: center;

    font-size: 1.1rem;
    font-weight: 500;    

    padding: 1rem;
    margin-right: 1.5rem;

    border: 2px solid transparent;
    box-sizing: border-box;
    
    will-change: transform;
}

.Tabs a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    z-index: 3;

}

.Below-Media-Segments{
    display: flex;
    flex-direction: column;
    
    padding: 2rem 3%;
    background: linear-gradient(to bottom, hsla(204, 100%, 77%, 0.596) 20%, #0099ff98 70%, #012d4b7e 100%);
    
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;
}

#Latest-Weekly-Segments{
    display: flex;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.List-of-Media-Segments{
    width: 100%;
    overflow-x: visible;
}

.Media-Segment-Card{
    display: flex;
    flex-wrap: nowrap;

    overflow-x: scroll;
    overflow-y: hidden;
    
    gap: 1rem;
    padding: 2rem;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    scrollbar-gutter: stable;
    scrollbar-width: thick;
    scrollbar-color:  #1b5ec4 #034066;
    scroll-behavior: smooth;
}

.Media-Segment-Card::-webkit-scrollbar{
    height: 10px;
}

.Media-Segment-Card::-webkit-scrollbar-track {
    background: #ffffff;

    width: 100%;
}


.Media-Segment-Card img{
    object-fit: cover;
    object-position: center;
    aspect-ratio: 67 / 69; /* 6-7, 67? because it takes two to 69 */
    max-height: 20rem;
    max-width: 20rem;

    border: 2px solid black;
}

.Media-Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    max-height: 30rem;
    max-width: 30rem;
    padding: 1rem;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.Media-Card p{
    color: black;
    font-size: 1.25rem;
    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Media-Card img{
    margin: 1rem;
}

.Media-Card:hover{
    transform: scale(1.01);
    z-index: 5;

    filter: drop-shadow(2px 5px 7px rgba(20, 20, 20, 0.2));
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.267);   
    background: rgba(255, 255, 255);

    transition: 0.25s;
}

#MMSegment{
    font-weight: bolder;
}