*{
    margin: 0;
    padding: 0;
}

.Below-Media-Segments{
    display: flex;
    flex-direction: column;
    
    padding: 2rem 3%;
    background: linear-gradient(to bottom, hsla(204, 87%, 94%, 0.596) 20%, #f7fcff98 70%, #012d4b7e 100%);
    
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;
}

#Latest-Weekly-Segments{
    display: flex;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.Media-Segment-Grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}
