.navbar-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;

  top: 0;
  z-index: 11;

  height: 5rem;
  width: 95%;
  margin: 2% 2%;
  
  background-color: hsla(0, 0%, 100%, 0.85);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 3px solid hsl(204, 98, 34);
  border-radius: 16px; 
}

.navbar-box a{
    font-size: 1rem;
    color: hsl(204, 98, 34);
    text-decoration: none;

    font-weight: bolder;

    gap: 3rem;
}

.navbar-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#tpa-logo {
  width: 15rem;

}

.tpa-circle-logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tpa-circle-logo img{
    display: block;
    
    height: 4rem;
    margin-right: 1.5rem;
}

.tpa-circle-logo:hover{
    cursor:pointer;

    transition: 0.2s ease-in-out;
    transform: scale(1.1) ;
}

/* --- Mobile Media Query--- */

@media (min-width: 320px){
  .tpa-circle-logo{
    display: none;
  }

  .navbar-links{
    display: none;
  }

  .navbar-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #tpa-logo{
    padding: 0rem;
  }

  .tpa-logo a{
    margin: 0rem;
  }

}

@media (min-width: 500px) {
  #tpa-logo{
    display: none;
  }

  .navbar-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .navbar-links{
    display: flex;
    gap: 2rem;
  }

  .navbar-links a{
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .navbar-box{
    display: flex;
    justify-content: space-between;
  }

  .tpa-circle-logo{
    display: inline-block;
    justify-content: flex-end;
  }

  .tpa-circle-logo img{
    height: 3rem;
  }

  #tpa-logo{
    display: flex;
    height: 3rem;
  }

  .navbar-links{
    display: flex;
    gap: 1rem;
  }

  .navbar-links a{
    font-size: 0.75rem;
  }
  
}

@media (min-width: 900px){
  .navbar-links{
    gap: 2rem;
  }
}

@media (min-width: 1000px) {
  .navbar-links a{
    font-size: 1rem;
  }

  .navbar-links{
    gap: 3rem;
  }
}

@media (min-width: 1280px) {
  #tpa-logo{
    height: 4rem;
  }

  .tpa-circle-logo img{
    height: 4rem;
  }

  .navbar-links{
    gap: 5.5rem;
  }

}