*{
    margin: 0;
    padding: 0;
}

.navbar-box{
    height: 10rem;
    background-color: white;
    
    border-bottom: 3px solid #0265A9;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-box a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    font-size: 1.3rem;
    color: #0265A9;
    text-decoration: none;

    margin-right: 5rem;
    font-weight: 800;
}

.navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links a:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.2);
}

#tpa-logo {
    height: 8rem;
    width: 14rem;
    padding-left: 2rem;
}

.tpa-logo img:hover{
    cursor: pointer;
}

.tpa-circle-logo{
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.tpa-circle-logo img{
    display: block;
    
    height: 4rem;
    margin-right: 1.5rem;
}

.tpa-circle-logo:hover{
    cursor:pointer;

    transition: 0.2s;
    transform: scale(1.2);
}



/* --- Mobile Media Query--- */

@media (max-width: 1024px) {
  .navbar-box a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  1.3rem;
  }

  .tpa-logo {
    justify-content: flex-end;
    align-items: center;

    height: 0.9rem;
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 1023px) {
  .navbar-box {
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;

  }

  .tpa-logo {
    justify-content: flex-end;
    align-items: center;

    height: 1rem;
    margin-bottom: 0.3rem;
  }
}


