.Releases-Page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  padding: 5rem;
  background-color: black;
}

.Rectangle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(137, 206, 255, 0.601);

  padding: 5rem;
  border-radius: 5rem;
}

.Rectangle img:hover{
  transform: scale(1.05);
  transition: transform ease-in-out 0.5s 
}

.Rectangle img{
  -webkit-filter: drop-shadow(5px 5px 5px #222);
}

.Rectangle p{
  font-size: 10rem;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 5px 5px 5px black;
}

.Demo-Page{
  background-color: rgb(253, 253, 243);
  color: black
}

.Releases-Book{
    filter: drop-shadow(2px 5px 30px rgba(254, 254, 254, 0.55));
}

.Releases-Title span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 10vh;
}

.Releases-Title{
  width: 90%;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 10fr;
}


.Releases-Caption p{
  font-size: 1.5rem;
  padding: 4.5rem;
  line-height: 2rem;
}

