.Releases-Page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  padding: 5rem;
  background-color: black;
}

.Releases-Option {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  margin-top: 4rem;
  height: 50px;
  width: 1000px;

  border-radius: 100px;
  
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.Releases-Option::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.Releases-Option-Title{
  flex: 0 0 auto; /* prevent shrinking and allow horizontal scrolling */
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 75px;
  
  margin: 0rem 0rem;
  padding: 0rem 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.Releases-Option-Title:hover{
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.25);
}
.Releases-Book-Cover{
  width: 100%;
}

.Demo-Page{
  background-color: rgb(253, 253, 243);
  color: black
}

.Releases-Book{
    filter: drop-shadow(2px 5px 30px rgba(254, 254, 254, 0.55));
}

.Releases-Title span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 10vh;
}

.Releases-Title{
  width: 90%;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 10fr;
}


.Releases-Caption p{
  font-size: 1.5rem;
  padding: 4.5rem;
  line-height: 2rem;
}

