.Rolling-Headline {

    background-color: #DDC9C9;

    margin-top: 2px;
    margin-bottom: 2px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-image: url('/brushed-alum.png');
    background-repeat: repeat;
    background-size: auto;

    overflow-x: hidden;
}

.Rolling-Headline a {
    color: black;

    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: bolder;

}

.Rolling-Headline img{
    padding-right: 10px;    
    padding-left: 10px;
    height: 1rem;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
