*{
    margin: 0;
    padding: 0;

}

.RollingHeadline {
    background-color: #D9D9D9;
}

.Rolling-Headline {

    background-color: #DDC9C9;
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */

    margin-top: 2px;
    margin-bottom: 2px;
}

.Rolling-Headline p {
    padding-left: 10px;
    padding-right: 10px;
}
