a{
    text-decoration: none;
    color: black;
}

.Second-Facade{
    background-color: #9edbff20;
    background-image: url('crisp-paper-ruffles.png');
}

.Cover-Photo-Image-Facade{
    position: relative;
    overflow:hidden;

    z-index: 0;
    width: 100%;
    height: 50vh;
}

.Cover-Photo-Image-Facade::before{
    content: "";
    position: absolute;
    
    background-image: url('/TPA-Cover.png'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    inset: 0;
    filter: blur(3px);
    z-index: -1;
}


.SearchBar{
    color: black;
    text-decoration: none;

    background-image: url('/favicon.ico');
    background-repeat: no-repeat;
    background-size: cover;

    filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.8));
    
    background-position-x: 99.75%;
    background-position-y: 50%;
    background-size: 3rem;

    width: 50%;
    position: absolute;
    top: 80%;
    left: 25%;

    padding: 1.25rem;
    font-size: 1rem;
    font-weight: 400;

    border: 2px solid #0265A9;
    border-radius: 3rem;
}

.Below-Cover-Photo{    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
    margin: 0rem 3rem;

}

.letterA{
    display: grid;
    grid-template-columns: 5fr 2fr;

    padding: 1rem;
    
    overflow: hidden;

    gap: 1rem;
}

.Large-Left-News-Column{
    display: flex;
    flex-direction: column;
}

#Category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    text-decoration: none;
}

.Category {
    position: relative;
    display: inline-block;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    width: 95%;

    background-color: rgba(99, 218, 248, 0.322);
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.308);
    
    z-index: 1;
    padding: 0.25rem 0rem;
    border-radius: 16px;
    margin: 1rem 0rem;
}

.Category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #0265A9;
    transform: translateX(-101%);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

.Category:hover::before {
    transform: translateX(0); /* Slide in fully */
}

.Category{
    display: flex;
    align-self: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;

    padding: 1.25rem;

    border: 3px solid black;
}

.Category:hover {
    color: white;
}

#Category a:hover{
    color: white;
}

#Category-Outside{
    width: 95%;
    margin: 0% 3%;
}

.Large-News{
    padding-bottom: 1rem;
}

.Large-Photo-News{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    
    text-decoration: none;

    justify-content: center;
    gap: 1rem;
}

.Large-Photo-News img{
    width: 55rem;
    
    border-radius: 20px;

    aspect-ratio: 16 / 9;

    object-fit: cover;
    object-position: center;

    border: 3px solid black;
    
    transition: object-position 0.3s, transform 0.3s ;
    cursor: pointer;
}

.Large-Photo-News img:hover{
    object-position: 90% 90%;    
}

.Large-News-Headline{
    display: flex;
    flex-direction: column;
    text-decoration: none;

    padding: 1rem;
    gap: 1rem;
}

.Large-News-Headline p{
    color: black;
    font-weight: bolder;
    text-decoration: none;

    font-size: 1.5rem;

    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Large-News-Headline a:hover{
    color: #0265A9
}

.Sample-Text p{
    font-size: 1rem;
    color:#414141;
    
    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Sample-Text-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    filter: drop-shadow(2px 5px 7px rgba(20, 20, 20, 0.2));

    gap: 0.75rem;
    background: rgba(255, 255, 255, 0.66);
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(1.25rem);

    border-radius: 1.25rem;
    padding: 1rem;
}

.Sample-Text-Container:hover{
    background-color: rgba(255, 255, 255);

    transition: transform 0.2s ease-in-out;
    transform: scale(1.01);

    cursor: pointer;
}

.Article-Author-Time p{
    color: black;

    font-size: 1rem;
    font-weight: 500;
    display: -webkit-box;              
    -webkit-line-clamp: 1;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}


.Bulletin-Board{
    display: flex;
    flex-direction: row;
    filter: drop-shadow(2px 5px 7px rgba(20, 20, 20, 0.2));

    font-size: 1rem;

    gap: 1rem;
    background: white;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 10px;
    padding: 1rem;

}

.Vertical-Divider{
    background-color: #0265A9;
    height: 2rem;
    width: 0.25rem;
    margin: 0rem 0.25rem;
    border: none;
}

.Three-Column-Wrapper{
    display: flex;
    justify-self: center;
    padding: 3rem;
}

.Three-Columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.Column{
    display: flex;
    flex-direction: column;
    text-align: center;    
    text-decoration: none;
    overflow: hidden;

    justify-content: space-around;
    padding: 0.5rem;

    width: 37rem;

    border-top: 3px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.Column:first-child{
    border-left: 3px black solid;
    border-top-left-radius: 2rem;
}

.Column:last-child{
    border-right: 3px black solid;
    border-top-right-radius: 2rem;
}

.Large-Column-News a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    font-size: 1rem;

    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Large-Column-News img{
    border-radius: 1rem;
    width: 35rem;

    aspect-ratio: 16 / 9;

    object-fit: cover;
    object-position: 90% 90%;    

    padding-bottom: 1rem;
    
    cursor: pointer;
}

.Small-Column-News{
    display: flex;
    flex-direction: row;
    margin-top: 0.75rem;
    padding: 0.75rem;
    background-color: #ffffff75;
}

.Small-Column-News a{
    font-size: 1rem;
    padding-left: 5px;

    display: -webkit-box;              
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}