a {
    text-decoration: none;
    color: black;
}

.Second-Facade {
    background-color: #E9F1FA;
}

.Cover-Photo-Image-Facade {
    position: relative;
    overflow: hidden;

    z-index: 0;
    width: 100%;
    height: 50vh;
}

.Cover-Photo-Image-Facade::before {
    content: "";
    position: absolute;

    background-image: url('/TPA-Cover.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    inset: 0;
    filter: blur(3px);
    z-index: -1;
}


.SearchBar {
    color: black;
    text-decoration: none;

    background-image: url('/favicon.ico');
    background-repeat: no-repeat;
    background-size: cover;

    filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.8));

    background-position-x: 99.75%;
    background-position-y: 50%;
    background-size: 3rem;

    width: 50%;
    position: absolute;
    top: 80%;
    left: 25%;

    padding: 1.25rem;
    font-size: 1rem;
    font-weight: 400;

    border: 2px solid #0265A9;
    border-radius: 3rem;
}

.Below-Cover-Photo {
    display: flex;
    flex-direction: column;

    margin: 0rem 4rem;
}

.letterA {
    display: grid;
    grid-template-columns: 4fr 2fr;

    padding: 1rem;

    overflow: hidden;

    gap: 3rem;
}

@media (max-width: 1280px) {
    .letterA{
        display: flex;
        flex-direction: column;
    }
}

.Large-Left-News-Column {
    display: flex;
    flex-direction: column;
}

.Category{
    position: relative;
    display: inline-block;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    width: 90%;

    background-color: rgba(99, 218, 248, 0.50);
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.308);

    z-index: 1;
    padding: 0.25rem 0rem;
    border-radius: 8px;
    margin: 1rem 0rem;
}

.Category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #0265A9;
    transform: translateX(-101%);
    transition: transform 0.420s ease-in-out;
    z-index: -1;
}

.Category:hover::before {
    transform: translateX(0);
    /* Slide in fully */
}

.Category {
    display: flex;
    align-self: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;

    padding: 1.25rem;

    border: 3px solid black;
}

.Category:hover {
    color: white;
}

.Large-News {
    align-items: center;
    padding: 0rem 3rem;
}

.Large-Photo-News {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    text-decoration: none;

    justify-content: center;

    border-radius: 1rem;
    gap: 1rem;
    padding-top: 1rem;
    padding: 10px;
    margin-bottom: 10px;

    background-color: hsla(0, 0%, 100%, 0.55);
}

.Large-Photo-News img {
    width: 30%;

    border-radius: 20px;

    aspect-ratio: 16 / 9;

    object-fit: cover;
    object-position: center;


    transition: object-position 0.7s, transform 0.3s;
    cursor: pointer;
}

.Large-Photo-News img:hover {
    object-position: 90% 90%;  
}

.Large-Photo-News:hover{
    transition: transform 0.5s ease-in-out;
    transform: scale(1.01);
    box-shadow: 5px 6px 5px 6px rgba(7, 5, 5, 0.068);
    background-color: hsla(0, 0%, 100%);

    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(10.1px);
}

.Large-News-Headline {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    padding: 1rem;
    gap: 1rem;
}

.Large-News-Headline p {
    color: black;
    font-weight: bolder;
    text-decoration: none;

    font-size: 1.5rem;
    line-height: 2rem;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Large-News-Headline p:hover {
    color: #0265A9
}

.Sample-Text p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #414141;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Sample-Text p:hover{
    color: #414141;
}

.Sample-Text-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    filter: drop-shadow(2px 5px 7px rgba(20, 20, 20, 0.2));

    background: rgba(255, 255, 255, 0.66);
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(1.25rem);


    border-radius: 1.25rem;
    padding: 1rem;
    gap: 0.75rem;

}

.Sample-Text-Container:hover {
    background-color: rgba(255, 255, 255);

    transition: transform 0.2s ease-in-out;
    transform: scale(1.01);
}

.Article-Author-Time p {
    color: black;

    font-size: 1rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Bulletin-Board {
}

.Vertical-Divider {
    background-color: #0265A9;
    height: 2rem;
    width: 0.25rem;
    margin: 0rem 0.25rem;
    border: none;
}

