*{
    margin: 0;
    padding: 0;

}

a:hover{
    color: #0265A9;
}

.Second-Facade{
    background-color: rgb(237, 246, 255);
}

.Cover-Photo-Image-Facade{
    position: relative;
    overflow:hidden;

    z-index: 0;
    width: 100%;
    height: 50vh;
}

.Cover-Photo-Image-Facade::before{
    content: "";
    position: absolute;
    
    background-image: url('/TPA-Cover.png');
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    inset: 0;
    filter: blur(3px);
    z-index: -1;
}


.SearchBar{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;
    text-decoration: none;

    background-image: url('/cursor.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position-x: 99.5%;
    background-position-y: 50%;
    background-size: 3rem;


    width: 50%;
    position: absolute;
    top: 80%;
    left: 25%;

    padding: 1.25rem;
    font-size: 1rem;

    border: 2px solid #0265A9;
    border-radius: 3rem;
}

.Rolling-Headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-color: #DDC9C9;
}

.Rolling-Headline a {
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;
    color: black;

    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.Rolling-Headline img{
    padding-right: 10px;    
    padding-left: 10px;
    height: 17px;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* move left half of total length */
}

.Tabs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
    background-color: #003f69;
    border: 3px solid black;
    padding: 1rem 0px;
}

.Tabs a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: white;
    text-decoration: none;

    display: flex;
    justify-content: center;

    font-size: 1.1rem;
    font-weight: 500;    

    padding: 1rem;
    margin-right: 1.5rem;

    border: 2px solid transparent;
    box-sizing: border-box;
    
    will-change: transform;
}

.Tabs a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    z-index: 3;

}

#Category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#Category a{
    color: black;
    text-decoration: none;
}

.Category {
    position: relative;
    display: inline-block;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    width: 95%;
    font-size: 2rem;

    background-color: rgba(99, 218, 248, 0.623);
    z-index: 1;

    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.25rem;
    border-radius: 16px;
}

.Category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #0265A9;
    transform: translateX(-101%);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

.Category:hover::before {
    transform: translateX(0); /* Slide in fully */
}

.Category {
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;

    padding: 1.5rem;

    border: 3px solid black;
}

.Category:hover {
    color: white;
}

#Category a:hover{
    color: white;
}

#Category-Outside{
    width: 95%;
    margin: 0% 1%;
}

.Below-Cover-Photo{    
    display: flex;
    flex-direction: column;

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 3%;
    margin-left: 3%;
}

.letterA{
    display: grid;
    grid-template-columns: 67% 28%;
    gap:5%;
    margin: 2rem 0rem;
}

.Large-Photo-News{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 2rem 2rem;
}

.Large-Photo-News img{
    width: 100rem;
    border-radius: 20px;

    aspect-ratio: 16 / 9;

    overflow: hidden;
    object-fit: cover;

    border: 2px solid black;
}

.Large-Photo-News img:hover{
    transform: scale(1.01);
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
    
}

.Large-News{
    width: 100%;
}

.Large-News-Headline{
    display: flex;
    flex-direction: column;
    text-decoration: none;

    gap: 2rem;
    
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.Large-News-Headline a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;
    font-weight: bold;
    text-decoration: none;

    font-size: 1.75rem;


    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Large-News-Headline a:hover{
    color: #0265A9
}

.Sample-Text p{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;
    color:#575757;
    
    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Vertical-Headlines{
    display: flex;
    flex-direction: column;

    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;

    gap: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.Vertical-Headlines a{
    text-decoration: none;
    color: black;

    margin: 0.5rem 0rem;
}

.Vertical-Side-News{
    display: flex;
    flex-direction: row;
    
    gap: 2rem;
}

.Vertical-Side-News img{
    height: 10rem;
    cursor: pointer;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

hr{
    border: 1px solid #0265A9;
    margin: 1rem 0rem;
}

.Video-Showcase{
    background-color: rgb(2, 6, 34);
    margin: 1rem 0rem;
    padding: 3rem;
}

.Video-Showcase a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: white;
    
    text-decoration: none;
    font-weight: 700;
    font-size: 4rem;
}

.Iframe-Container{
    margin: 3rem 0rem;

    overflow-x: hidden;
    border: 1px solid transparent;
    border-radius: 1.5rem;
}


.Iframe-Videos{
    display: flex;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: thick;
    scrollbar-color:  #1a3b6d #001420;
    scroll-behavior: smooth;

    gap: 3rem;
}

.Iframe-Container::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;

    width: 90%;
}

.Iframe-Videos iframe {
    height: 30rem;
    width: auto;

    border-radius: 5px;
    
    flex-shrink: 0;
    cursor: pointer;
}

iframe{
    padding-bottom: 3rem;
}

.Small-News-Box-Container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
    gap: 1rem;
    padding-bottom: 1rem;
    margin: 0% 5%;
}

.Small-News-Box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Small-News-Boxes{
    display: flex;
    flex-direction: column;
}

.Small-Photo-News img:hover{

    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}

.Small-Photo-News{
    display: flex;
    flex-direction: column;
    object-fit: cover;
    align-items: center;

    padding: 1rem;
}

.Small-Photo-News a:hover{
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;

    color: #0265A9;
}

.Small-Photo-News img{
    width: 10rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    margin: 1rem;

}

.Small-News{
    display: flex;
    flex-direction: row;
}

.Secondary-News-Headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 75%;
}

.Secondary-News-Headline a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;

    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
}

.Secondary-News-Headline a:hover{
    color: #0265A9;
}

.Article-Author-Time a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;

    font-size: 1rem;
    font-weight: 500;

}