*{
    margin: 0;
    padding: 0;

}

a:hover{
    color: #0265A9;
}

.Second-Facade{
    background-color: whitesmoke;
    background: linear-gradient(to bottom, #ffffff8f 0%, #0099ff41 100%);
}

.Cover-Photo-Image-Facade{
    position: relative;
    overflow:hidden;
    z-index: 0;
    
    width: 100%;
    height: 40vh;
}

.Cover-Photo-Image-Facade::before{
    content: "";
    position: absolute;
    
    background-image: url('/TPA-Cover.png');
    inset: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    filter: blur(3px);
    z-index: -1;
}


.SearchBar{
    width: 50%;
    position: absolute;
    top: 80%;
    left: 25%;

    padding: 1rem;
    font-size: 1rem;

    border: 3px solid #0265A9;
    border-radius: 10px;
}
.Rolling-Headline {

    background-color: #DDC9C9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

/*
    display: -webkit-box;                
    -webkit-box-orient: vertical;        
    -webkit-line-clamp: 1;               
    overflow: hidden;                    
    text-overflow: ellipsis;           

 */

}

.Rolling-Headline a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;


    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;
    color: black;

    z-index: 100;
}

.Rolling-Headline img{
    padding-right: 10px;    
    padding-left: 10px;
    height: 17px;

    z-index: 100;
}


@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* move left half of total length */
}

.Tabs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
    background-color: #003f69;
    
    padding: 10px 0px;

    margin-bottom: 1rem;
    z-index: 1;
}

.Tabs a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.1rem;
    
    display: flex;
    justify-content: center;

    padding: 1rem;
    gap: 1rem;
    margin-right: 1rem;

    border: 2px solid transparent;
    
    box-sizing: border-box;
    will-change: transform;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tabs a:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
    z-index: 3;

    background-color: #003f69;
}

#MM:hover, #TTu:hover, #WW:hover, #TTh:hover, #FF:hover, #StS:hover, #SpS:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;

    border: 1px solid black;
    border-radius: 1px;

    background-color: black;
    color: white;
    z-index: 1;
}

#MM{
    background-color: red;
    color: white;
}

#TTu{
    background-color: orange;
    color: black;
}

#WW{
    background-color: yellow;
    color: #333333;
}

#TTh{
    background-color: green;
    color: white;
}

#FF{
    background-color: blue;
    color: white;
}

#StS{
    background-color: indigo;
    color: white;
}

#SpS{
    background-color: rgb(110, 40, 110);
    color: white;
}

.Category {
    position: relative;
    display: inline-block;
    font-weight: bold;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;

    z-index: 1;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.1);
    background-color: rgba(99, 218, 248, 0.623);
    padding: 0.5rem 0.25rem;
    font-size: 2rem;
    margin-top: 10px;
    border-radius: 10px;
    max-width: 100%;    
}

.Category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0265A9;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: -1;
}

.Category:hover::before {
    transform: translateX(0); /* Slide in fully */
}

.Category {
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: rgb(44, 43, 43);
    text-decoration: none;
    font-weight: bolder;
    font-size: 3.5rem;

    padding: 2rem;
}

.Category:hover {
    color: white;
}

#Category-Outside{
    width: 100vw;
}

.Below-Cover-Photo{

    display: flex;
    flex-direction: column;

    margin-left: 10%;
    margin-right: 10%;
    
}

.Large-News-Boxes{
    display: block;
    max-width: 100%;
    padding: 3rem;
}

.Large-Photo-News{
    display: flex;
    flex-direction: row;
    object-fit: cover;
    background-color: white;

    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.1);
    padding: 3rem;
}

.Large-Photo-News img{
    width: 600px;
    aspect-ratio: 16 / 9;
    margin: 1rem;
    
    border-radius: 10px;
    object-fit: cover;
}

.Large-Photo-News:hover{
    transform: scale(1.03);
    background-color: whitesmoke;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.Primary-News-Headline{
    padding-left: 2rem;
    padding-right: 2rem;
}

.Primary-News-Headline a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;
    text-decoration: none;
    font-weight:900;
    font-size: 2em;

    margin-top: 4rem;
    margin-bottom: 1rem;


    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
}

.Small-News-Box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: azure;
    background: linear-gradient(to bottom, #3f6e8f8f 0%, #0099ff00 100%);

    padding: 0rem 1rem;
}

.Small-News-Boxes{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.Small-Photo-News:hover{
    transform: scale(1.01);
}


.Small-Photo-News{
    display: flex;
    flex-direction: column;
    object-fit: cover;
    align-items: center;

    max-width: 100%;

    padding: 0.5rem;
    /** box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
}

.Small-Photo-News:hover{
    cursor: pointer;    
}

.Small-Photo-News a:hover{
    color: #0265A9;
}

.Small-Photo-News img{
    width: 25rem;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    margin: 1rem;

    border-radius: 5px;
}

.Small-News{
    display: flex;
    flex-direction: row;
    max-width: 100%;

}

.Secondary-News-Headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.Secondary-News-Headline a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;

    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5rem;

    padding: 1rem 0rem;
    
    display: -webkit-box;                
    -webkit-box-orient: vertical;
}

.Article-Author-Time{
    display: block;
    justify-content: flex-end;
    align-items: flex-end;

}

.Article-Author-Time span{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    font-size: 1rem;
    color: black;
    font-weight: bold;

    margin: 1rem;
}

@media (max-width: 1024px) {
    .Small-News-Boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1rem
}


.Small-Photo-News img{
    width: 30%;
    margin: 3rem 0rem;
}

    
}

@media (max-width: 720px) {
    .Small-News-Boxes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0rem;
        padding: 0rem
}
    
}