*{
    margin: 0;
    padding: 0;

}

a:hover{
    color: #0265A9;
}

.Second-Facade{
    background-color: #9edcff5b;
}

.Cover-Photo-Image-Facade{
    position: relative;
    overflow:hidden;

    z-index: 0;
    width: 100%;
    height: 50vh;
}

.Cover-Photo-Image-Facade::before{
    content: "";
    position: absolute;
    
    background-image: url('/TPA-Cover.png'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    inset: 0;
    filter: blur(3px);
    z-index: -1;
}


.SearchBar{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;
    text-decoration: none;

    background-image: url('/cursor.png');
    background-repeat: no-repeat;
    background-size: cover;

    filter: drop-shadow(2px 5px 7px rgba(0, 0, 0, 0.8));
    
    background-position-x: 99.5%;
    background-position-y: 50%;
    background-size: 3rem;

    width: 50%;
    position: absolute;
    top: 80%;
    left: 25%;

    padding: 1.25rem;
    font-size: 1rem;
    font-weight: 400;

    border: 2px solid #0265A9;
    border-radius: 3rem;
}

.Rolling-Headline {

    background-color: #DDC9C9;


    margin-top: 2px;
    margin-bottom: 2px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

/*
    display: -webkit-box;                
    -webkit-box-orient: vertical;        
    -webkit-line-clamp: 1;               
    overflow: hidden;                    
    text-overflow: ellipsis;           

 */

    background-image: url('/brushed-alum.png');
    background-repeat: repeat;
    background-size: auto;

    border-radius: 15px;
    overflow-x: hidden;

}

.Rolling-Headline a {
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;
    color: black;

    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.Rolling-Headline img{
    padding-right: 10px;    
    padding-left: 10px;
    height: 1rem;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.Tabs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
    background-color: #003f69;
    padding: 1rem 0px;

}

.Tabs a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: white;
    text-decoration: none;
    
    display: flex;
    justify-content: center;

    font-size: 1rem;
    font-weight: 500;    

    padding: 1rem;
    margin-right: 1.5rem;

    border: 2px solid transparent;
    box-sizing: border-box;
    
    will-change: transform;
}

.Tabs a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    z-index: 3;

}

.Below-Cover-Photo{    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 1% 3%;
}

.letterA{
    display: flex;
    gap: 3%;

    overflow: hidden;
}

.Large-Left-News-Column{
    display: flex;
    flex-direction: column;
}

#Category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    text-decoration: none;
}

.Category {
    position: relative;
    display: inline-block;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    width: 95%;

    background-color: rgba(99, 218, 248, 0.322);
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.308);
    
    z-index: 1;
    padding: 0.25rem 0rem;
    border-radius: 16px;
    margin: 1rem 0rem;
}

.Category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #0265A9;
    transform: translateX(-101%);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

.Category:hover::before {
    transform: translateX(0); /* Slide in fully */
}

.Category {
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;

    padding: 1.25rem;

    border: 3px solid black;
}

.Category:hover {
    color: white;
}

#Category a:hover{
    color: white;
}

#Category-Outside{
    width: 95%;
    margin: 0% 1%;
}

.Large-Photo-News{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

.Large-Photo-News img{
    width: 55rem;
    
    border-radius: 20px;

    aspect-ratio: 16 / 9;

    object-fit: cover;
    object-position: center;

    border: 3px solid black;
    
    transition: object-position 0.3s, transform 0.3s ;
    cursor: pointer;
}

.Large-Photo-News img:hover{
    object-position: 90% 90%;    
}

#Media-Segment-Large-Photo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.Large-News-Headline{
    display: flex;
    flex-direction: column;
    text-decoration: none;

    padding: 1rem;
    gap: 1rem;
}

.Large-News-Headline a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;
    font-weight: bolder;
    text-decoration: none;

    font-size: 1.5rem;

    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Large-News-Headline a:hover{
    color: #0265A9
}


.Sample-Text p{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;
    color:#414141;
    
    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Vertical-Headlines{
    display: flex;
    flex-direction: column;

    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    text-decoration: none;

    gap: 0.5rem;
    font-size: 2rem;
    font-weight: 700;

    margin: 1%;
    width: 100%;
}

.Vertical-Headlines a{
    text-decoration: none;
    color: black;

    margin: 0.5rem 0rem;

    display: -webkit-box;              
    -webkit-line-clamp: 5;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Vertical-Headlines a:hover{
    color: #0265A9;
}

.Vertical-Side-News{
    display: flex;
    flex-direction: row;
    filter: drop-shadow(2px 5px 7px rgba(20, 20, 20, 0.2));

    gap: 1rem;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 10px;
    padding: 2rem;
}

.Vertical-Side-News img{
    height: 5rem;
    cursor: pointer;
    object-fit: cover;
    aspect-ratio: 5 / 3;
}

.Vertical-Side-News:hover{
    color: black;

    background-color: rgba(255, 255, 255);

    transition: transform 0.2s ease-in-out;
    transform: scale(1.01);

    cursor: pointer;
}

.Bulletin-Board{
    display: flex;
    flex-direction: row;
    filter: drop-shadow(2px 5px 7px rgba(20, 20, 20, 0.2));

    font-size: 1rem;

    gap: 1rem;
    background: white;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 10px;
    padding: 1rem;

}

#MM{
    background: rgba(255, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
}

#TTu{
    background: rgba(255, 166, 0, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
}

#WW{
    background: rgba(255, 255, 0, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
}

#TTh{
    background: rgba(0, 128, 0, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
}

#FF{
    background: rgba(0, 0, 255, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
}

#StS{
    background: rgba(76, 0, 130, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
}

#SpS{
    background: rgba(238, 130, 238, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
}

hr{
    border: 1px solid #0265A9;
    margin: 1rem 0rem;
}

.Video-Showcase{
    background-color: rgb(2, 6, 34);
    margin: 1rem 0rem;
    padding: 3rem;
}

.Video-Showcase a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: white;
    
    text-decoration: none;
    font-weight: 700;
    font-size: 4rem;

    margin: 1rem;
    padding: 1rem;
}

.Iframe-Container{
    margin-top: 3rem;

    overflow-x: hidden;
    border: 1px solid transparent;
    border-radius: 1.5rem;
}


.Iframe-Videos{
    display: flex;

    overflow-x: auto;
    overflow-y: hidden;
    
    gap: 2rem;
    padding: 0rem 3rem;

    background: rgba(29, 29, 29, 0.288);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);


    scrollbar-width: thick;
    scrollbar-color:  #1a3b6d #001420;
    scroll-behavior: smooth;
}

.Iframe-Container::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;

    width: 90%;
}

.Iframe-Videos iframe {
    height: 30rem;
    width: auto;

    border-radius: 5px;
    
    flex-shrink: 0;
    cursor: pointer;
}

iframe{
    margin: 5rem 0rem;
}

iframe:hover{
    transform: scale(1.01);
}

.Small-Photo-News{
    padding: 1rem;
}

.Small-Photo-News a:hover{
    transition: transform 0.2s ease-in-out;
    color: #0265A9;
}

.Small-Photo-News img{
    width: 30rem;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    margin: 0.5rem;
}

.Small-News{
    display: flex;
    flex-direction: row;
}

.Secondary-News-Headline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Secondary-News-Headline a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;

    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;


    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Secondary-News-Headline a:hover{
    color: #0265A9;
}

.Horizontal-Headlines{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    padding: 3rem;
}

.Horizontal-Headlines .Vertical-Side-News {
    display: flex;
    flex-direction: row;

    padding: 1rem;
}

.Horizontal-Headlines .Vertical-Side-News img{
    height: 10rem;
    aspect-ratio: 1 / 1;
}

.Horizontal-Headlines .Vertical-Side-News:hover{
    transform: scale(1.1);
    z-index: 10;
    opacity: 100%;
}


.Article-Author-Time a{
    font-family:  'Inter', sans-serif; /* font retrieved from google in index.html */
    color: black;

    font-size: 1rem;
    font-weight: 500;
    display: -webkit-box;              
    -webkit-line-clamp: 1;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;

}