*{
    margin: 0;
    padding: 0;
}

.Vertical-Side-News{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    filter: drop-shadow(2px 5px 7px rgba(20, 20, 20, 0.2));

    gap: 0.75rem;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(1.25rem);

    border-radius: 1.25rem;
    padding: 1rem;
}

.Vertical-Side-News img{
    height: 6rem;
    cursor: pointer;
    object-fit: cover;
    aspect-ratio: 5 / 3;
}

.Vertical-Side-News:hover{
    background-color: rgba(255, 255, 255);

    transition: transform 0.2s ease-in-out;
    transform: scale(1.01);

    cursor: pointer;
}

.Vertical-Headlines{
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}

.Vertical-Headlines a{
    text-decoration: none;
    color: black;

    margin: 0.5rem 0rem;

    display: -webkit-box;              
    -webkit-line-clamp: 5;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Vertical-Headlines a:hover{
    color: #0265A9;
}


.Bulletin-Board{
    display: flex;
    flex-direction: row;
    filter: drop-shadow(2px 5px 7px rgba(20, 20, 20, 0.2));

    font-size: 1rem;

    gap: 1rem;
    background: white;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 1.25rem;
    padding: 1rem 1rem;
}

.Bulletin-Board p{
    padding: 0rem 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 3px solid #0265A9;
}
