.Vertical-Side-News{
    display: flex;
    align-items: center;
    flex-direction: row;

    filter: drop-shadow(2px 5px 7px rgba(20, 20, 20, 0.2));

    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(1.25rem);

    border-radius: 1.25rem;
    padding: 1rem;
    margin: 1.5rem 0rem;

    height: 5rem;
}

#Vertical-Fast-News-Links:hover{
    color: #0265A9;
}

@media (max-width: 1280px) {
    .Vertical-Fast-News{
        display: flex;
        flex-direction: row;
        margin: 0rem 1rem;
    }

    .Vertical-Side-News{
        margin: 0rem 0.5rem;
    }
    .Vertical-Side-News img{
        width: 30%;

    }

    .Vertical-Side-News p{
        font-size: 0.75rem;
    }

    #Vertical-Fast-News-Links{
        display: none;
    }
}

@media (max-width: 1100px) {
    .Vertical-Fast-News img{
        flex-direction: column;
        display: none;
    }
}

.Vertical-Side-News img{
    height: 100%;
    object-fit: cover;
    aspect-ratio: 5 / 3;
}

.Vertical-Side-News:hover{
    background-color: rgba(255, 255, 255);

}

.Vertical-Divider-Side-News{
    background-color: #0265A9;
    height: 2rem;
    width: 0.33rem;

    border: none;
    margin-right: 5px;
}

.Vertical-Headlines{
    display: flex;
    flex-direction: column;

    gap: 1rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem
}

.Vertical-Headlines a{
    text-decoration: none;
    color: black;
}

.Vertical-Headlines p{
    text-decoration: none;
    color: black;

    margin: 0.5rem 0rem;

    display: -webkit-box;              
    -webkit-line-clamp: 3;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           

    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.Bulletin-Board{
    display: flex;
    flex-direction: row;
    filter: drop-shadow(7px rgba(20, 20, 20, 0.2));

    font-size: 1rem;

    background: white;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);

    margin: 0.75rem 0.25rem 0.25rem;
    gap: 1rem;
    padding: 1rem 1rem;
}

.Bulletin-Board p{
    padding: 0rem 1rem;
}


@media (max-width: 1600px) {
    .Vertical-Fast-News .Vertical-Side-News:last-child{
        display: none;
    }
    
}
