.Admin-Page-Layout{
    display: flex;
    background: linear-gradient(135deg, #f8fafc 0%, #edf5fa 50%, #e1eff8 100%);

}

.Display-Main-Content{
    flex: 1;
    box-sizing: border-box;    
    font-family: var(--font-sans)
}