.Manage-Front-Page-Container{
    font-family: var(--font-sans);
    padding: 1rem;
}

.Manage-Front-Page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    padding: 2rem;

    width: 100%;
}

.Add-Front-Page-Slide-Container, .Existing-Front-Page-Slide-Container{
    padding: 2rem;
    border: 1px solid var(--border-color);
    width: 80%;
    
    background-color: white;
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    max-width: var(--container-max-width);

    border-radius: var(--radius-md);
    box-shadow: 0 0 10px hsla(207, 15%, 12%, 0.089); 
}

.Existing-Front-Page-Slide-Container{
    max-height: 1000px;
    overflow-y: scroll;
}

.Front-Page-Fields-Container{
    width: 100%;
}

.Front-Page-Fields{
justify-content: flex-end;
    width: 95%;
    padding: 0.65rem;
    border-radius: var(--radius-md);
    border-color: var(--border-color);
    padding: 0.5rem;
}

.Front-Page-Fields, .Front-Page-Text-Fields p{
    color: inherit;
    font-weight: 600;
    font-size: 0.85rem;
    width: auto;
}

.Front-Page-Text-Fields, .Form-Input{
    justify-content: flex-end;
    width: 85%;
    padding: 0.65rem;
    border-radius: var(--radius-md);
    border-color: var(--border-color);
}

.Front-Page-Text-Fields{
    display: grid;
    grid-template-columns: 1fr 1fr
}

.Existing-Front-Page-Slide-Container{
    width: 80%;
}

.Item-Badges{
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: 0.8rem;
}

.Item-Main-Info{
    display: flex;
}

.Item-Thumb{
    width: 100px;
    height: 100px;
    border-radius: var(--radius-sm);
    object-fit: cover;
    border: 1px solid var(--border-color);
    background-color: #f0f0f0;

}

.Item-Text-Details{
    padding: 1rem;
}

.Item-Main-Info{
    display: flex;
    justify-content: center;
    padding: 0rem 1.5rem;
    align-items: center;
}

.Facade-Item-Card{
    display: grid;
    grid-template-columns: 1.5fr 0.25fr 4fr;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-lg);
    
    margin: 1rem 0rem;
}

.Facade-Item-Card:hover{
    background-color:aliceblue;
}

.Vertical-Divider {
    align-self: center;
    background-color: var(--hr-color);
    height: 2rem;
    width: 2px;
    border: none;
    
    transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.Item-Action-Row{
    padding: 8px 0px;
}

.Action-Buttons{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding-top: 6px;
}

.Button-Outline, .Admin-Primary-Button{    
    padding: 0.4rem 0.8rem;
    font-size: 0.825rem;
    font-weight: 600;
    border: 1.5px solid var(--border-color);
    background-color: white;
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: var(--transition-smooth);
}

.Button-Danger{
    background-color: pink;
}

.Button-Danger:hover{
    background-color: rgba(255, 0, 0, 0.808);
}
